# Copy this file to .env and fill in the values from your Render PostgreSQL "Connections" panel.
PGUSER=listicle_db_wk3_user
PGPASSWORD=qrNMghvTCJDewFtWOdZB8xYvovCscHpg
PGHOST=dpg-d8rvj3ugvqtc73fk10og-a
PGPORT=5432
PGDATABASE=postgresql://listicle_db_wk3_user:qrNMghvTCJDewFtWOdZB8xYvovCscHpg@dpg-d8rvj3ugvqtc73fk10og-a/listicle_db_wk3

# Set to "development" while running locally.
NODE_ENV="development"
